<main>
  <h1>All users</h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Email Address</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr data-id={{this._id}}>
            <td>{{this.firstName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
            <td><button class="ellipsisBtn" data-id={{this._id}}>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <template id="contextMenu">
    <div class="contextMenu">
      <button class="changeRoleBtn">Change role</button>
    </div>
  </template>
  <template id="changeRoleModalTemplate">
    <div class="modalContainer" id="changeRoleModal">
      <div class="modal">
        <h2>
          Change role
        </h2>
        <p>

        </p>
        <button id="changeRole">
          Change role
        </button>
      </div>
    </div>
  </template>
</main>

<script src="/js/users.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>